body{
  background: black;
  text-align: center;
  font-family: verdana;
}
h1{

  font-weight: normal;
  font-size: 50px;
  color: white;

}
a{
  cursor: pointer;
  text-decoration: underline;
}
.cta{
  color: Aquamarine;
  font-size: 16px;
}

h2{
  color: white;
}

.footer{
  text-align: right !important;
  color: grey;
  padding-top: 50px;
}
